<div id="nbaDashboard" class="bg-primary bg-opacity-25 vh-100 d-flex align-items-center container-fluid">
    <div class="container d-flex justify-content-evenly h-75 rounded-3">
        <div class="col-md-5 d-flex align-items-center justify-content-center card">
            <div class=" border-0 rounded-3 shadow-lg h-100 w-100" 
                style="background-image: url('nba_teams.jpg'); 
                    background-size: cover;
                    background-position: center;
                    color: white;" (click)="loadNbaTeams()">
                <div class="card-body p-4">
                    <h5 class="card-title fw-bold">Teams</h5>
                    <p class="card-text text-muted"  style="color: white !important;">
                        NBA team details
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-5 d-flex align-items-center justify-content-center card">
            <div class=" border-0 rounded-3 shadow-lg h-100 w-100" 
                style="background-image: url('basketball.jpg'); 
                    background-size: cover;
                    background-position: center;
                    " (click)="loadNbaPlayers()">
                <div class="card-body p-4">
                    <h5 class="card-title fw-bold">Players</h5>
                    <p class="card-text text-muted">
                        NBA player details
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>