.cursor-pointer {
  cursor: pointer;
}

.dropdown-item {
  padding: 10px 12px;
}

.dropdown-item:hover {
  background-color: #f1f5ff;
}

.dropdown-menu {
  max-height: 260px;
  overflow-y: auto;
}


.card{
    transition: transform 0.3 ease;
}
.card:hover{
    transform: translateY(-8px);  /* translateX(8px); */
}